@import url('https://fonts.cdnfonts.com/css/ananda-black-personal-use');

/* RESET */
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

/* VARIABLES */
:root {
	--container-size: 500px;
	--radius: 20px;
	--etch-c: red;
}

/* STYLES */
.body {
	padding-top: 5rem;
	background: #333;
	position: relative;
}

.controls {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-top: 2rem;
}

.btn-controls {
	width: max-content;
}

.btn-controls button {
	padding: 0.8rem 1.6rem;
	font-size: 1.6rem;
}

.btn-controls button:first-child {
	margin-right: 2rem;
}

.mode-controls {
	display: flex;
	flex-flow: column nowrap;
	max-width: 200px;
	background-color: lightgray;
	padding: 1rem;
	border-radius: 10px;
}

.etch {
	/* border: 8rem solid var(--etch-c); */
	margin: 0 auto;
	width: min-content;
	background-color: var(--etch-c);
	border-radius: var(--radius);
	position: relative;
}

.etch__side {
	background-color: var(--etch-c);
	min-width: 40px;
	min-height: 40px;
	user-select: none;
}
.etch__lr-side {
	height: 100%;
	width: clamp(40px, 10vw, 8rem);
}
.etch__tb-side {
	width: 100%;
	height: clamp(40px, 10vw, 8rem);
	border-radius: var(--radius);
}
.etch__b-side {
	display: flex;
	justify-content: space-between;
}
.etch__t-side {
	display: flex;
	justify-content: center;
	align-items: center;
}

.etch__middle {
	display: flex;
}

.etch__title {
	font-family: 'Ananda Black Personal Use', sans-serif;
	font-size: clamp(10px, 5vw, 3rem);
	color: goldenrod;
	text-align: center;
}

.etch__knob {
	height: 100%;
	border-radius: 9999px;
	background-color: var(--etch-c);
}
.etch__knob.active {
	cursor: pointer;
}
.etch__knob--left {
	position: relative;
	left: 10px;
	bottom: 10px;
}
.etch__knob--right {
	position: relative;
	right: 10px;
	bottom: 10px;
}

.screen {
	display: flex;
	flex-flow: row wrap;
	width: 80vw;
	max-width: var(--container-size);
	height: 80vw;
	max-height: var(--container-size);
	border: 1px solid #000;
	border-radius: var(--radius);
	overflow: hidden;
	background-color: lightgray;
	flex-shrink: 0;
	user-select: none;
}

.pixel {
	outline: 1px dotted lightslategray;
}

.pixel--painted {
	background-color: #333;
}

.pixel--glowing {
	animation: glowing 0.8s ease-in-out infinite;
	z-index: 1;
}

@keyframes glowing {
	0% {
		box-shadow: 0 0 6px rgb(203, 217, 233, 1), inset 0 0 6px rgba(58, 62, 67, 1);
	}
	50% {
		box-shadow: 0 0 6px rgb(203, 217, 233, 0.7),
			inset 0 0 6px rgba(58, 62, 67, 0.7);
	}
	100% {
		box-shadow: 0 0 6px rgb(203, 217, 233, 1), inset 0 0 6px rgba(58, 62, 67, 1);
	}
}
